@model PrestamosModels;
@{
    ViewData["Title"] = "Eliminar";
}
<div class="card col-8">
    <div class="card-header">
        Eliminar Libro
    </div>
    <div class="card-body justyfy-content-center">
        <form asp-action="Eliminar" asp-controller="Prestamos" method="post">
            <input asp-for="IdPrestamo" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Prestamo con la ID:@Html.DisplayTextFor(n=>n.Identificador) de usuario?
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-danger mb-3 btn-sm">Eliminar</button>
                <a asp-action="Listar" asp-controller="Prestamos" class="btn btn-warning btn-sn">volver a la lista </a>
            </div>
        </form>

    </div>

</div>
