@model Biblioteca_uts.Models.PrestamosModels

@{
    ViewData["Title"] = "Guardar";
}

<section id="catalog">
    <div class="container">

        <center>

            <div class="form-container">
                <p class="title">REGISTRAR PRESTAMOS</p>
                <form class="form" asp-action="Guardar" asp-controller="Prestamos" method="post">
                    <!--ADQUISICION-->
                    <div class="input-group1">
                        <input type="number" name="Identificador" asp-for="Identificador" placeholder="Identificador del Usuario" required>
                    </div>
                    <!--TITULO-->
                    <div class="input-group1">
                        <input type="date" name="Fecha_prestamo" asp-for="Fecha_prestamo" placeholder="Fecha del prestamo">
                    </div>
                    <!--Fecha-->
                    <div class="input-group1">
                        <input type="date" asp-for="Fecha_devolucion" name="Fecha_devolucion" placeholder="Fecha de la devolucion">
                    </div>

                    <div class="input-group1">
                        <input type="number" name="No_Adquisicion" asp-for="No_Adquisicion" placeholder="No_Adquisicion DEL LIBRO" required>
                    </div>
                    
                    <!--boton de registro-->
                    <br>
                    <div class="col-md-4 mb-3">
                        <button type="submit" class="sign">REGISTRAR</button>
                    </div>

                </form>
            </div>
        </center>
    </div>
</section>
